[project]
name = "aoc"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "ipykernel>=7.1.0",
    "numpy>=2.3.5",
    "pip>=25.3",
    "pulp>=3.3.0",
    "shapely>=2.1.2",
    "z3-solver>=4.15.4.0",
]
